/**{
    border: 1px dotted yellow;
}*/
#wrapper{
    background-color: rgb(38, 38, 143);
    width: 970px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}
.header{
    color: white;
    background-color: red;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 10px;
}
.navheader{
    margin: 0px;
}
#nav{
    color: rgb(89, 241, 247);
    display: inline-block;
    background-color: rgb(36, 114, 204);
    border-radius: 10px;
    margin-top: 0px;
    padding: 16px;
    width: 225px;
    margin-right: 5px;
    vertical-align: top;
}
.list{
    margin-top: 0px;
    margin-bottom: 0px;
}
.bodyheader{
    margin-bottom: 0px;
}
#body{
    background-color: rgb(15, 15, 99);
    color: white;
    display: inline-block;
    border-radius: 10px;
    width: 683px;
    padding: 5px 10px 10px 10px;
}
.bodylist{
    margin: 5px;
}
#footer{
    background-color: gray;
    color: white;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 10px;
}